<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- fontawsome CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- js library for confirmation boxes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <!-- custom css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Services_events/base.css' %}" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title> {% block title %} Fast-Kiosk {% endblock %} </title>
    <!-- load custom tag -->

  </head>
  <body>
    
    <!-- add navbar -->
    {% if user.is_authenticated %}
    <div class="container px-lg-2 py-5">
      {% if user.profile.role.name == 'Admin' %}
        {% include 'Services_events/admin_pages/admin_navbar.html' %}
      {% elif user.profile.role.name == 'Student' %}
        {% include 'Services_events/student_pages/student_navbar.html' %}
      {% endif %}
    {% else %}
      {% include 'Users/navbar.html' %}
    {% endif %}
    <!-- Bootstrap messages style -->
    {% if messages %} {% for message in messages %}
    <div
      class="mt-3 {{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      <h6>{{ message }}</h6>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %}

    <!-- page content-->
    {% block content %}

    {% endblock %}
    {% if user.is_authenticated %}
    <!-- close navbar's top container div -->
    </div>
    {% endif %}


    <!-- page footer-->
    {% comment %}{% block footer %} {% include 'Users/footer.html' %} {% endblock %} {% endcomment %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- js confirm boxes library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script src="{% static 'Services_events/scripts/base.js' %}"></script>
  </body>
</html>
