{% extends "Users/base.html" %} {% load crispy_forms_tags %} {% block title %}Student Signup {% endblock %}
{% block content %}
<div class="loader"></div>
<div class="container my-2">
  <div class="row pb-5">
    <!-- left column-->
    <div class="col-md order-2 order-md-1">
      <div class="shadow my-3 p-3 rounded">
        <form method="post">
          {% csrf_token %} {{ form|crispy }}
          <button class="btn btn-primary" type="submit">
            Signup as Student
          </button>
        </form>
      </div>
    </div>
    <!-- right column-->
    <div class="col-md order-1 order-md-2">
      <div class="my-3 p-3">
        <h1 class="display-4">Fast-Kiosk For Students</h1>
        <p class="font-weight-light">
          All Student can have access to the Fast-Kiosk but for signup you need
          you Roll number, See below waht student can have access to.
        </p>
        <i class="fa fa-calendar font-weight-light my-1">
          Able to see all Events</i
        >
        <br />

        <i class="fa fa-tasks font-weight-light my-1"> Able to see Services</i>
        <br />
        <i class="fa fa-check font-weight-light my-1">
          Able to Book Event/Service</i
        >
        <br />
        <i class="fa fa-edit font-weight-light my-1">
          Able to edit Personal Details</i
        >
        <br />
        <i class="fa fa-plus font-weight-light my-1"> And alot more staff!!!</i>
        <br />
        <br />
        <p class="font-weight-light">
          So, to be able to do all this make you account by the given form,
          Please fill all the required field.
        </p>
        <p class="font-weight-light">
          If you are not Student and want to make account as Admin then<a
            href="{% url 'signup_admin' %}"
          >
            Click Here</a
          >
          to signup.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
